@keyframes kick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scan {
  position: relative;
  background: linear-gradient(90deg, #690077, #ac00bf, #690077);
  background-repeat: no-repeat;
  background-size: 50% 25px;
  animation: scan-text 15s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes scan-text {
  0% {
    background-position: -250% 0;
  }
  25% {
    background-position: 250% 0;
  }
  25.5% {
    background-position: -250% 10%;
  }
  50% {
    background-position: 250% 10%;
  }
  50.5% {
    background-position: -250% 20%;
  }
  75% {
    background-position: 250% 20%;
  }
  75.5% {
    background-position: -250% 30%;
  }
  100% {
    background-position: -250% 30%;
  }
}

.flashing-text {
  animation: flashing 1.5s step-end infinite;
}

.motion-layout {
  position: relative;
  overflow: hidden;
}

@keyframes transform-card {
  0% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
