@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f4f4;
    --muted: #707579;
    --muted-light: #a2acb0;
    --muted-light-2: #fafafa;
    --radius: 0.5rem;
    --border: 240 5.9% 90%;
    --line-thickness: 1px;
    --main-line-color: #f7f7f7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-snap-type: y mandatory;
  }
  body {
    @apply no-scrollbar overflow-x-hidden bg-background;
  }
  @font-face {
    font-family: 'Roslindale';
    font-style: normal;
    font-weight: 400;
    src: url('../../../public/fonts/roslindale-cyrillic-regular.otf')
      format('opentype');
  }
  @font-face {
    font-family: 'Roslindale-medium';
    font-style: normal;
    font-weight: 500;
    src: url('../../../public/fonts/roslindale-cyrillic-medium.otf')
      format('opentype');
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: auto;
  }
}

/*@layer utilities {*/
/*  .rotate-y-180 {*/
/*    transform: rotateY(180deg);*/
/*  }*/
/*}*/
