@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f4eb;
    --muted: #707579;
    --radius: 0.5rem;
    --border: 240 5.9% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-x-hidden bg-background;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
